.container{
  margin-top: 10%;
}

.pageTitle{
  text-align: center;
}

.formContainer{
  margin: auto;
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(200px, 300px));
  grid-gap: 20px;
  justify-items: center;
  justify-content: center;
  width: 60%;
}

.formContainer label{
  font-size: 20px;
  font-weight: bold;
  margin-right: 10px;
}

.formContainer form{
  border-bottom: 1px solid grey;
  width: 100%;
  text-align: center;
}

.formContainer select, .formContainer option{
  font-size: 18px;
  padding: 10px 15px;
  border: none;
  outline: none;
}

.inputBtnsDiv{
  text-align: center;
  display: grid;
  grid-template-columns: 80% 20%;
  margin:auto;
  margin-top: 20px;
  width: 60%;
  justify-items: center;
}

.inputBtnsDiv input{
  border: none;
  border-bottom: 1px solid grey;
  padding: 10px 15px;
  width: 90%;
  font-size: 18px;
  outline: none;
}

button{
  font-weight: bold;
  background-color: white;
  border: solid 2px black;
}

.submitInput{
  justify-self: start;
  margin-left: 15px;
}

.resetInput{
  grid-column: span 2;
  justify-self: center;
  margin-top: 20px;
  padding: 10px;
}

button:hover{
  background-color: black;
  border: none;
  color:white;
}

@media (min-width: 640px){

  .pageTitle{
    text-align: center;
    font-size: 40px;
  }
  .formContainer label{
    font-size: 25px;
  }

  .formContainer select, .formContainer option{
    font-size: 20px;
  }

  .inputBtnsDiv{
    width: 40%;
  }
}



